@model TipoCuenta
@{
    ViewData["Tittle"] = "Crear Tipo Cuenta";
}
<h1>
    Crear Tipo cuenta
</h1>
<h5>
    El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Préstamos, tarjetas de crédito, etc.
</h5>

@*UTILIZAMOS EL TAG HELPER ASP-VALIDATION-SUMARY PARA MOSTRAR ERRORES A LOS USUARIOS*@
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*ASP-CONTROLLER lo usamos para decir a que controlador apunta el formulario *@
<form asp-action="Crear">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>    @*Utilizamos el ASP-FOR para poder guardar informacion en el caso que ocurra un error y se recargue la pagina, tambien sirve para que en un caso futuro cambiemos el nombre del campo en el modelo TipoCuenta se cambie autoamticamente en el formulario *@
        <input type="text" asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>  
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
@*EL FORMULARIO VA A ASER UN POST HACIA MI CONTROLADOR TIPOSCUENTAS, PARA ESO TENEMOS CREAR UNA ACCION QUE RESPONDA A ESE HTTP POST *@

        @section Scripts{
            <partial name"_ValidationScriptsPartial" />
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
        }